* {
    margin:0;
    padding:0;
}
.html,body {
    background-color: black;
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}
.main-container {
    display: grid;
}
.top-container {
    height: 12vh;
    border-bottom: 2px solid rgb(55, 56, 55);
    overflow: hidden;
}
.center-container {
    height: 76vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
.bottom-container {
    height: 12vh;
    border-top: 2px solid rgb(55, 56, 55);
    overflow: hidden;
}
.nav {
    padding-top: 2vh;
}
.nav li {
    display:block;
    float:left;
    width: 25%;
}
.nav li a {
    display:block;
    text-align: center;
}
.nav-top {
    padding-top: 2vh;
}
.nav-top li {
    display: block;
    float: left;
    width: 33%;
}
.nav-top li a {
    display: block;
    text-align: center;
}
.img-icon {
    height: 4.5vh;
    width: auto;
}
.img-logo {
    height: 8vh;
    width: auto;
}
.post {
    width: 95%;
    color: #FFFDE7;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    padding-bottom: 2vh;
}
.post-outer {
    border-bottom: 2px solid rgb(53, 53, 53);
}
.post-left {
    width: 14%;
    margin-left: 0%;
}
.post-right {
    margin-left: 4%;
    width:80%;
}
.user-tweet-name {
    margin: auto;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 2.1vh;
}
.user-tweet-name-grey {
    font-size: 1.9vh;
    font-weight: 500;
    color: rgb(190, 188, 176);
}
.message {
    margin: auto;
    margin-left: 2vw;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 2.1vh;
    color: #ffffff;
}
.interactions {
    padding-top: 1.5vh;
}
.interactions li {
    display: block;
    float: left;
    width: 33%;
}
.interactions li a {
    display: block;
    text-align: center;
}
.interact-icon {
    width: 2.7vh;
    height: auto;
}
.profile-icon-tweet {
    width: 15vw;
    height: auto;
    margin-top: 1vh;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.active {
    border-bottom: 7px solid white;
}
.inactive-page {
    display: none;
}
.active-page {
    display: block;
}

.profile {
    width: 95%;
    color: #FFFDE7;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    padding-bottom: 2vh;
}
.profile-left {
    width: 20%;
    margin-left: 0%;
}
.profile-right {
    margin-left: 6%;
    width:70%;
}
.profile-icon-profile {
    width: 23vw;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.user-profile-name {
    margin: auto;
    color: rgb(255, 255, 255);
    font-weight:600;
    font-size: 2.5vh;
}
.user-profile-name-grey {
    font-size: 2.1vh;
    color: rgb(190, 188, 176);
}
.bio {
    margin: auto;
    margin-left: 1vw;
    margin-top: 0.7vh;
    font-weight: 500;
    font-size: 2vh;
    color: #ffffff;
}
.follow-button {
    text-align: center;
    font-size: 2.4vh;
    font-weight: 600;
    width: 70%;
    margin-left: 15%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    padding: 7px;
    color: #EAE8D4;
    border: 1px solid #464646;
    background-color: #464646;
}
.profile-outer {
    padding-bottom: 2vh;
    border-bottom: 2px solid rgb(53, 53, 53);
}
.profile-post {
    margin-left: 5%;
    width:90%;
}